<b>
  <span class="pf2-icon larger">{{action.typeNumber}}</span>
  {{localize action.title}}: {{localize action.subtitle}}
</b>
<div class="tags">
  {{#each traits as |trait|}}
  <span class="tag tag_alt" title="{{localize trait.description}}">{{trait.name}}</span>
  {{/each}}
</div>
<hr class="interact-loot" />
